//primary-colors
$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);
//neutral-colors
$very-dark-blue: hsl(234, 12%, 34%);
$grayish-blue: hsl(229, 6%, 66%);
$very-light-gray: hsl(0, 0%, 98%);
//--------------------------

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  min-height: 100vh;
}

body {
  position: relative;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: $very-light-gray;
}

.wrapper {
  height: calc(100% - 17px);
  padding-bottom: 40px;
}

.header {
  text-align: center;
  color: $very-dark-blue;
  padding-top: 80px;
  margin-bottom: 75px;

  &__title {
    font-weight: 200;
    font-size: 25px;
  }

  &__title-main {
    display: block;
    font-weight: 600;
    // line-height: 45px;
  }

  &__sub-text {
    max-width: 505px;
    font-size: 15px;
    margin: 22px auto 0 auto;
    padding: 0 30px;
    font-weight: 400;
    color: $grayish-blue;
  }
}

.section {
  //section here

  &__card {
    position: relative;
    background-color: white;
    max-width: 311px;
    min-height: 222px;
    margin: 0 auto 25px auto;
    border-top: 4px solid black;
    border-radius: 1.8% 1.8% 10px 10px;
    box-shadow: 0 20px 20px -5px hsla(212, 86%, 64%, 0.2);

    &--supervisor {
      border-color: $cyan;
    }
    &--teambuilder {
      border-color: $red;
    }
    &--karma {
      border-color: $orange;
    }
    &--calculator {
      border-color: $blue;
    }
  }

  &__card-main {
    padding: 28px;
    padding-bottom: calc(57px + 28px);
  }

  &__card-title {
    color: $very-dark-blue;
    margin-bottom: 6px;
    font-size: 20px;
    font-weight: 600;
  }

  &__card-text {
    font-size: 13px;
    color: $grayish-blue;
    margin-bottom: 5px;
    line-height: 24 px;
  }

  &__card-image {
    width: 57px;
    height: auto;
    position: absolute;
    right: 28px;
    bottom: 28px;
  }
}

footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -17px;
}

@media screen and (min-width: 700px) {
  .header {
    margin-bottom: 65px;

    &__title {
      font-size: 36px;
      line-height: 45px;
    }

    &__sub-text {
      max-width: 600px;
    }
  }

  .section {
    &__card {
      max-width: 350px;
      min-height: 250px;
    }

    &__card-title {
      margin-bottom: 10px;
    }
  }

  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
}

@media screen and (min-width: 700px) and (max-width: 1130px) {
  .main {
    margin: 0 10px;
  }
}

@media screen and (max-width: 321px) {
  .main {
    margin: 0 10px;
  }

  .section {
    &__card {
      min-width: 170px;
    }
  }
}
